/*Navbar*/

.nav-link {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #BC0100;
}

.nav-link:hover {
    font-weight: 600;
    color: #BC0100;
}

.navbar-brand {
    color: #BC0100;
    font-family: 'Teko', sans-serif;
    font-weight: 500;
    font-size: 35px;
}

.navbar-brand:hover {
    color: #BC0100;
}


/* Sessão Início*/

.inicio {
    padding-top: 250px;
    padding-bottom: 200px;
    background-color: #CED5DE;
}

.iniciotitulo {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #AD0B0A;
}

.iniciosubtitulo {
    font-family: 'Inter', sans-serif;
    text-align: left;
    padding-top: 10px;
    color: #AD0B0A;
}

.iniciobotao {
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    background-color: #BC0100;
}

.iniciobotao:hover {
    background-color: #ffffff;
    color: #BC0100;
    font-size: 20px;
}


/*Sessão Serviços*/

.serviços {
    background-color: #E9EFF7;
    padding-top: 50px;
    padding-bottom: 50px;
}

.cardsserviços {
    border-right: 1px solid #CED5DE;
    border-bottom: 1px solid #CED5DE;
    border-top: 1px solid #CED5DE;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.st {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    padding-top: 20px;
}

.sd {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}


/*Sessão Sobre Nós*/

.sobrenós {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #CED5DE;
}

.sobrenostitulo {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #AD0B0A;
}

.sobrenostexto {
    font-family: 'Inter', sans-serif;
    text-align: left;
    padding-top: 10px;
    color: #AD0B0A;
}


/*Sessão Como Funciona*/

.comofunciona {
    background-color: #E9EFF7;
    padding-top: 40px;
    padding-bottom: 40px;
}

.comofuncionatitulo {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    letter-spacing: -1px;
    margin-bottom: 35px;
}

.cardscomofunciona {
    border-right: 1px solid #CED5DE;
    border-bottom: 1px solid #CED5DE;
    border-top: 1px solid #CED5DE;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}


.cmft {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    padding-top: 20px;
}

.cmfd {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

.comofuncionabotao {
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    background-color: #BC0100;
    margin-top: 35px;
}

.comofuncionabotao:hover {
    background-color: #ffffff;
    color: #BC0100;
}


/*Sessão Vídeo e Logos*/

.video {
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
}


/*Sessão Depoimentos*/

.depoimentos {
    background-color: #E9EFF7;
    padding-top: 90px;
    padding-bottom: 90px;
}

.carousel-item {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dt {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    color: #2C3230;
}

.dtext {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #2C3230;
    margin-top: 10px;
}


/*Sessão Contato e Rodapé*/
.contato {
    background-color: #525252;
}

.formulariotitulo {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #E9EFF7;
    padding-top: 20px;
    padding-bottom: 20px;
}

.formulariobotao {
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    background-color: #BC0100;
    margin-top: 25px;
    margin-bottom: 25px;
}

.formulariobotao:hover {
    background-color: #ffffff;
    color: #BC0100;
}

.rodape {
    background-color: #525252;
    padding-top: 14px;
    border-top: 1px solid #E9EFF7;
}

.rodtext {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #E9EFF7;
    line-height: 33px;
}

.redes {
    line-height: 15px;
}

.iconemedia {
    margin-right: 4px;
}